body{
    background-color: rgb(98, 192, 179);
    text-align: center;
}
*{
    font-family: 'Pacifico', cursive;
    color:rgb(0, 0, 0);
    list-style-type: none;
    text-decoration: none;
}
div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
}
p{
margin-top: 10px;
}
.back{
    padding: 10px;
    background-color: #fff;
    width:100px;
    margin-bottom: 100px;
}
@media(max-width:1350px){
div{ width: 750px;}
}
@media(max-width:810px){
div{ width: 500px;}
}
@media(max-width:550px){
div{ width: 250px;}
}